
.firstBlock {
  position:relative;
}

.blueBlock {
  min-height:550px;
  width:100%;
  background-color:#4306FF;
  top:15%;
  left:0%;
  position:absolute;

}


.hamburger {
    margin-top: 25px;
}
.container {
  display:flex;
  justify-content:space-between;
  border-bottom-style: solid;
  border-width: 3px;
  background-color: rgb(230,231,232);
}

.containerSpaceBetween {
  display:flex;
  justify-content:space-between;
}

.containerSpace {
  display:flex;
  justify-content:space-around;
  /* justify-content:space-around; */
  margin-top:100px;
  background-color:rgb(245,244,244);
  padding-top:50px;
  padding-bottom:50px;
}

.containerCenter {
  display:flex;
  justify-content:center;
  margin-top:50;
  padding: 50px 0px 50px 0px;
  position:relative;
}

li {
  list-style-type:none;
  margin-top:20px;
  display:inline;
  padding:30px;
}

a:link {
  text-decoration: none;
  /* color:white; */
  color:black;
}

a:visited {
  text-decoration: none;
  /* color:white; */
  color:black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.blueHam {
  margin-left: 20px;
  margin-top: 20px;
  height: 35px;
  width: 35px;
}

footer {
  background-color:rgb(53,52,52);
  color:white;
  position:absolute;
  left:0%;
  width:100%;
}

.footerContents {
  margin: 50px;
}

.footerLinks {
  margin-right: 50px;
  font-weight:lighter;
}

.footerInput {
  border: none;
  border-bottom: 1px solid white;
  background-color:rgb(53,52,52);
  width: 350px;
  margin-bottom:5px;
}

.newsletterForm {
  font-weight:lighter;
  position:absolute;
  right:5%;
}

.communityReviews {
  text-align:center;
  margin-top:40px;
  font-size: 42px;
}

.startNowButton {
  font-weight:bolder;
  background-color:rgb(122,249,188);
  border: outset;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 100px;
}

.whiteSpace {
  width: 600px;
  height:400px;
  background-color:white;
  border:solid;
  margin-top:15%;
}

.navBlue {
  background-color:#4306FF;
  width: 230px;
  padding-bottom:10px;
  position:absolute;
}

.containerFooter {
  display:flex;
  
}

.footerLink:link {
  color:white;
}
.footerLink:visited {
  color:white;
}

.newSection {
  border-top-style: dashed;
  border-width: 2px;
  min-height:700px;
  padding-bottom:50px;
  position:relative;
}

.clipText {
  position:absolute;
  /* text-align:center; */
  width: 400px;
  margin-top:50px;
  left: 5%;
}

.clipCode {
  border: solid;
  width: 650px;
  height: 50px;
  border-radius: 6px;
  background-color:white;
}

.squareBoxSmall {
    background-color:white;
    width: 250px;
    height: 250px;
    border:solid black;
    text-align:center;
    position:relative;
}

.squareBoxLarge {
  background-color:white;
  width: 600px;
  height:800px;
  border:solid black;
  margin-left:50px;
  box-shadow:20px -20px lightgreen, 20px -20px 0 3px black;
}

.bigBlueNum {
  color:blue;
  font-size: 100px;
  font-weight:bolder;
  position:absolute;
  left:-15%;
  top: -20%;
}

.boxLargeText {
  position:absolute;
  bottom:5%;
  left:10%;
}

.greenBoxShadow {
  position:absolute;
  width: 600px;
  height:800px;
  background-color:lightgreen;
  border:solid black;
  left:10%;
  top:-2%;
}
.communityText {
   position:absolute;
   top:175px;
   left:150px;
   max-width:400px;
}

.loginArea {
  position:relative;
  margin-top:50px;
}

.featuredCommWork {
  position:relative;
}

.loginBox {
  border: solid #4306FF;
  border-radius: 50px;
  padding:60px 60px 20px 60px;
  border-width:4px;
  position:relative;
}

label {
  font-weight:bold;
  font-size: 18px;
}

.loginInput {
  width: 300px;
  padding: 6px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border-width: 1px;
  box-sizing: border-box;
}

.loginInput[type=text] {
  border-radius: 10px;
}

.loginButton {
    text-align:center;
    font-weight:bold;
    font-size: 18px;
}

.customizeInput {
  width: 400px;
  /* padding: 20px 20px; */
  height:100px;
  margin: 8px 0;
  border-radius: 10px;
  border-width: 2px;
  box-sizing: border-box;
}

.backgroundButtons {
  border-radius:15px;
  text-align:center;
  width:150px;
  height:35px;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  font-weight:bold;
  margin: 0px 5px 0px 5px;
}

.purpleCell {
  background-color:rgb(237,231,255);
  padding: 10px 10px 10px 10px;
  min-height:30px;
  font-weight:bold;
}
.whiteCell {
  /* background-color:lightgray; */
  padding: 10px 10px 10px 10px;
  height:30px;
  font-weight:bold;
}

.imageHolder {
    width:800px;
    height:500px;
    border:solid #4306FF 4px;
    border-radius:20px;
}
.imageHolderBar {
  width:100%;
  background-color:rgb(230,231,232);
  height:30px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom: solid #4306FF 4px;
}

.WhatWeDoText {
  width:800px;
}
.purpleStripe {
  width:100%;
  height:15px;
  background-color:rgb(237,231,255);
  margin-top:25%;
}