.ClipLogo {
  /* margin-left:40%; */
  /* position:absolute; */
}

.firstBlock {
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width:2px;
  min-height: 700px;
}

.blueBlock {
  min-height:400px;
  width:100%;
  background-color:#4306FF;
  margin-top:150px;
  left:0%;
  position:absolute;
}

.hamburger {
    margin-top: 25px;
}
.container {
  display:flex;
  justify-content:space-between;
}

.containerEqual {
  display:flex;
  justify-content:center;
  margin-top:50px;
}

.containerSpace {
  display:flex;
  justify-content:space-around;
  /* justify-content:space-around; */
  margin-top:100px;
  background-color:rgb(245,244,244);
  padding-top:50px;
  padding-bottom:50px;
}

nav {
  /* background-color:#4306FF; */
  /* height: 500px; */
  /* width:230px; */
  /* position:absolute; */
  /* top:4%; */
}

li {
  list-style-type:none;
  margin-top:20px;
  display:inline;
  padding:30px;
}

a:link {
  text-decoration: none;
  /* color:white; */
  color:black;
}

a:visited {
  text-decoration: none;
  /* color:white; */
  color:black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.blueHam {
  margin-left: 20px;
  margin-top: 20px;
  height: 35px;
  width: 35px;
}

footer {
  background-color:rgb(53,52,52);
  color:white;
  position:absolute;
  left:0%;
  width:100%;
}

.footerContents {
  margin: 50px;
}

.footerLinks {
  margin-right: 50px;
  font-weight:lighter;
}

.footerInput {
  border: none;
  border-bottom: 1px solid white;
  background-color:rgb(53,52,52);
  width: 350px;
  margin-bottom:5px;
}

.newsletterForm {
  font-weight:lighter;
  position:absolute;
  right:5%;
}

.presentIdeas {
  width:500px;
  margin-left: 50px;
  margin-top: 50px;
}

.demo1 {
  color:#4306FF;
}

.startNowButton {
  font-weight:bolder;
  background-color:rgb(122,249,188);
  border: outset;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 100px;
}

.graySpace {
  width: 600px;
  height:400px;
  background-color:white;
  border:solid;

}

.whyUseClip {
  /* background-color:rgb(245,244,244); */
  padding-bottom:50px;
}

.navBlue {
  background-color:#4306FF;
  width: 230px;
  padding-bottom:10px;
  position:absolute;
}

.containerFooter {
  display:flex;
}

.footerLink:link {
  color:white;
}
.footerLink:visited {
  color:white;
}

.whatIsClip {
  border-bottom-style: dashed;
  border-width: 2px;
  min-height:700px;
}

.grayBanner {
  min-height:350px;
  background-color:rgb(245,244,244);
  /* margin: 100px 0px 100px 0px; */
  position:absolute;
  width:100%;
  left:0%;
  margin-top:100px;
}

.clipText {
  position:absolute;
  text-align:center;
  /* background-color:green; */
  width: 550px;
  margin: 15px;
  margin-top:100px;
}

.clipText2 {
  position:absolute;
  width: 350px;
  margin: 15px;
  margin-left:40px;
  margin-top: 80px;
  text-align:center;
}

.clipCode {
  border: solid;
  width: 500px;
  height: 50px;
  border-radius: 6px;
  position:absolute;
  margin-top:510px;
  margin-left:500px;
  background-color:white;
}