.ClipLogo {
  margin-left:40%;
}

.hamburger {
    margin-top: 25px;
}
.container {
  display:flex;
}

nav {
  background-color:#4306FF;
  height: 500px;
  width:230px;
  position:absolute;
  top:4%;
}

li {
  list-style-type:none;
  margin-top:20px;
}

a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.blueHam {
  margin-left: 20px;
  margin-top: 20px;
  height: 35px;
  width: 35px;
}

footer {
  background-color:rgb(53,52,52);
  color:white;
  position:absolute;
  left:0%;
  width:100%;
}

.footerContents {
  margin: 50px;
}

.footerLinks {
  margin-right: 50px;
  font-weight:lighter;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid white;
  background-color:rgb(53,52,52);
  width: 350px;
  margin-bottom:5px;
}

.newsletterForm {
  font-weight:lighter;
  position:absolute;
  right:5%;
}
